.form {
	background:grey;
}

.component {
	background: rgb(248, 130, 130);
	border: 15px solid green;
	padding: 50px;
	border-radius: 5px;
	width: 100%;
}

.userlist{
	font-family: sans-serif
}

.userlist li:hover {
	font-weight: bold;
}


.game {
	text-align: center;
	padding: 0px;
}

.game canvas {
	width: 100%;
	display: block;
}

h1 {
	color: white;
}
