:root {
    --strongpong-red: #EC3C37;
    --strongpong-yellow: #F0CD13;
    --strongpong-pink: #F2A28D;
    --strongpong-black: #000000;
    --strongpong-grey: #303030;
    --strongpong-blue: #1998CB;
    --strongpong-dark-blue: #1948cb;
    --strongpong-white: #F8DED7;
    --strongpong-white-transparent: #F8DED7A8;
}

.root-layout {
    background-image: 
        radial-gradient(circle at center, var(--strongpong-pink) 30%, transparent 20%),
        repeating-conic-gradient(at 75% 50%, var(--strongpong-yellow) 10%, var(--strongpong-red) 15%, var(--strongpong-yellow) 20%);
    background-size: 10px 10px, cover;
    background-repeat: repeat, repeat;
}

@media screen and (max-width: 992px) {
    .root-layout {
        background-image: 
            radial-gradient(circle at center, var(--strongpong-pink) 30%, transparent 20%),
            repeating-conic-gradient(at 50% 50%, var(--strongpong-yellow) 10%,var(--strongpong-red) 15%, var(--strongpong-yellow) 20%);
    }
}

.index-fill {
    padding-left: 20px;
    padding-right: 20px;
}

.index-left {
    padding-left: 20px;
    padding-right: 10px;
}

.index-middle {
    padding-left: 10px;
    padding-right: 10px;
}

.index-right {
    padding-left: 10px;
    padding-right: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.navbar {
    margin: 20px;
}

.content-area {
    margin-bottom: 20px;
}

.white-box {
    border-radius: 5px;
    background-color: var(--strongpong-white-transparent);
    border: 4px double var(--strongpong-black);
    text-overflow: clip;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.btn {
    margin-bottom: 10px;
}

.chat-messages {
    overflow-y: scroll;
}

.chat-messages p {
    color: var(--strongpong-dark-blue);
    margin-bottom: -2pt;
}

.form-control {
    background: var(--strongpong-white);
}

.custom-select {
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") var(--strongpong-white) no-repeat 98%;
    /* background: var(--strongpong-white); */
}

.dropdown-menu {
    background: var(--strongpong-white);
}
