/* This applies to the whole site */
.root-layout {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: white;
}

/* This is the whole area under the menubar */
.content-area {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    overflow: auto;
}

.page, 
.chat {
    overflow-y: auto !important;
    scrollbar-width: none !important; /* disable inner scrollbar in firefox */
    -ms-overflow-style: none; /* disable inner scrollbar in IE and Edge */
}

/* Turn off the inner scrollbar in chrome, safari and opera */
.page::-webkit-scrollbar,
.chat::-webkit-scrollbar {
    display: none;
}

/* This is where a page.tsx is placed */
.page {
    width: 75%;
    border: 3px solid green;
}

/* This is where the chat component is placed */
.chat {
    width: 25%;
    border: 3px solid blue;
}

.row {
    padding: 0;
    margin: 0;
}

.col {
    border: 3px solid purple;
}

@media screen and (max-width: 992px) {
    .page, .chat {
        width: 50% !important;
    }
}
