:root {
    --strongpong-red: #EC3C37;
    --strongpong-yellow: #F0CD13;
    --strongpong-pink: #F2A28D;
    --strongpong-black: #000000;
    --strongpong-blue: #1998CB;
    --strongpong-dark-blue: #1948cb;
    --strongpong-white: #F8DED7;
    --strongpong-white-transparent: #F8DED7A8;
}

.root-layout {
    background-image: 
        radial-gradient(circle at center, var(--strongpong-pink) 30%, transparent 20%),
        repeating-conic-gradient(at 75% 50%, var(--strongpong-yellow) 10%, var(--strongpong-red) 15%, var(--strongpong-yellow) 20%);
    background-size: 10px 10px, cover;
    background-repeat: repeat, repeat;
}

.navbar, 
.page, 
.chat-area,
.login {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 992px) {
    .root-layout {
        background-image: 
            radial-gradient(circle at center, var(--strongpong-pink) 30%, transparent 20%),
            repeating-conic-gradient(at 50% 50%, var(--strongpong-yellow) 10%,var(--strongpong-red) 15%, var(--strongpong-yellow) 20%);
    }
}

.white-box {
    border-radius: 5px;
    background-color: var(--strongpong-white-transparent);
    border: 4px double var(--strongpong-black);
    text-overflow: clip;
    padding: 20px;
    padding-top: 10px;
}

.chat-messages {
    overflow-y: scroll;
    /* background-color: var(--strongpong-white); */
}

.chat-messages p {
    color: var(--strongpong-dark-blue);
    margin-bottom: -2pt;
}

.btn-primary {
    --bs-btn-bg: var(--strongpong-blue);
    --bs-btn-border-color: var(--strongpong-blue);
}

.form-control {
    /* todo: choose */
    background: white;
    background: var(--strongpong-white-transparent);
    background: var(--strongpong-white);
}

.navbar .active {
    /* //todo */
    background-color: purple; 
}

/* Below is work in progress */

/* .white-box {
    border-radius:50px;
    background-color: white;
    filter: contrast(50) invert(0);
    mix-blend-mode: color-burn;
    isolation: isolate;
} */
       
/* .white-box::before {
    content: '';
    position: absolute;
    inset: 0;
            
    border-radius:50px;
    background-image: radial-gradient(
        circle at center,
        black 3%,
        transparent 65%
      ), radial-gradient(circle at center, black 3%, transparent 65%);
    background-size: 1rem 1rem;
    background-position: 0 0, 0.5rem 0.5rem;
    mask-image: radial-gradient(circle at center, rgb(0 0 0), rgb(0 0 0 / 0.3));
} */
