.body {
	background: rgb(28, 2, 52);
}

.navbar {
	background: #ff00ff !important;
	border-radius: 2px !important;
	box-shadow: 0 0 50px 15px #ff00ff76 !important;
}

.content {
	background-color:#f7ee04;
	/* border: 0; */
	box-shadow: 0 0 50px 15px #f7ee0476;
	/* color: rgb(28, 2, 52); */
}
