html, body {
	background: rgb(28, 2, 52);
	color: white;
}

.navbar {
	background: #ff00ff !important;
	border-radius: 2px !important;
	box-shadow: 0 0 50px 15px #ff00ff76 !important;
}

.chat {
	background: yellow;
	color: rgb(28, 2, 52);
	box-shadow: 0 0 50px 15px #ffff0067 !important;
}
