/* Settings that apply to the whole site */
html, body {
    height: 100%;
    /* background: 0; */
    /* background:red; */
}

/* This is the menubar */
.navbar {
    position: fixed;
    width: 100%;
    /* background:orange; */
}

/* This is all the space under the menubar */
.container-fluid {
    position: fixed;
    /* background:yellow; */
}

/* This is where a page.tsx is placed */
/* .page {
    background:green;
} */

/* This is where the chat component is placed */
/* .chat {
    background: blue;
} */

.row {
    border: 1px solid red;
}

.col {
    border: 1px solid blue;
}
