.userLink {
    color: var(--strongpong-dark-blue);
	text-decoration: none;
}

.userLink:hover {
    color: var(--strongpong-red);
	cursor: pointer;
}

.userlink_item:hover {
	text-shadow: 0 0 5px blue;
	cursor: pointer;
}
