.transcendence-Home,
.transcendence-Profile,
.transcendence-Game,
.transcendence-Chat,
.transcendence-SignUp {
  padding: 32px 32px;
}

.transcendence-Home {
  background: red;
}

.transcendence-Profile {
  background: orange;
}

.transcendence-Game {
  background: rgb(6, 148, 6);
}

.transcendence-Chat {
  background: blue;
}

.transcendence-SignUp {
  background: purple;
}

.form {
  background:grey;
}

.component {
  border: white;
  background: rgb(248, 130, 130);
  /* width: 500px; */
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

h1 {
  color: white;
}
