.form {
	background:grey;
}

.component {
	border: white;
	background: rgb(248, 130, 130);
	/* width: 500px; */
	border: 15px solid green;
	padding: 50px;
	margin: 15px;
	border-radius: 5px;
}

h1 {
	color: white;
}
