.transcendence-Home,
.transcendence-Profile,
.transcendence-Game,
.transcendence-SignUp,
.transcendence-Menu {
  padding: 32px 32px;
}

.transcendence-Home {
  background: red;
}

.transcendence-Profile {
  background: orange;
}

.transcendence-Game {
  background: rgb(6, 148, 6);
}

.transcendence-SignUp {
  background: purple;
}

.transcendence-Menu {
  background: rgb(65, 42, 130);
}
