.layoutContainer {
  background-color: hsl(150, 50%, 30%); /* Retro pink background */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.menuBar {
  background-color: #ff6699; /* Retro pink background */
  color: #330033; /* Retro dark purple text color */
  padding: 20px;
  font-family: 'Courier New', Courier, monospace; /* Retro monospaced font */
  text-align: center;
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex; /* Use flex container for children */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}